
input.custom-range[type='range'] {
  -webkit-appearance: none;
  appearance: none; 
  @apply accent-red-400 bg-red-100 rounded-[16px] h-6;
}
input.custom-range[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none; /* 기본 CSS 스타일을 적용하지 않기 위해서 */
  appearance: none; /* 기본 CSS 스타일을 적용하지 않기 위해서 */
  border-radius: 50%; 
  cursor: pointer; 
  @apply w-6 h-6 bg-red-500;
}
input.custom-range[type='range']::-moz-range-thumb {
  -webkit-appearance: none; /* 기본 CSS 스타일을 적용하지 않기 위해서 */
  appearance: none; /* 기본 CSS 스타일을 적용하지 않기 위해서 */
  border-radius: 50%; 
  cursor: pointer; 
  @apply w-6 h-6 bg-red-500 ;
}