.text.one-line {
  max-width: 100%;
  display: inline-block;
}
.one-line {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.two-line {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  white-space: pre-wrap;
}
.two--as { 
  margin: 0;
  padding: 0;
}